#triviaQuestion{
    height: 150px;
}

#answerChoices{
    height: 250px;
}

#questionTimer{
    height: 50px;
}

.mainBox{
    background-color: rgb(131, 128, 128, 0.8);
}

.title{
    background-color: rgba(255, 255, 255, 0.8);
    height: 90%;
}

.jumbotron{
    background-image: url("../images/banner-1155437_1920.png");
}

body{
    background-image: url("../images/movie-918655_1920.jpg");
    background-size: cover;
}